# Copy this file to .env and set values accordingly

# MongoDB connection string
MONGODB_URI=mongodb+srv://community_db:community_db@communityproject.xkkegm6.mongodb.net/?appName=CommunityProject

# Database name to use
MONGODB_DB=community_db
