# MongoDB connection string
MONGODB_URI=mongodb+srv://community_db:<PASSWORD>@communityproject.xkkegm6.mongodb.net/?appName=CommunityProject

# Database name to use
MONGODB_DB=community_db

# JWT / Auth settings
SECRET_KEY=change-me-in-production
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
